footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 50px;
    align-self: center;
    margin-top: 25px;
    border-top: 1px solid rgba(0,0,0,.12);; 
    margin-bottom: 80px;
}

.footer-left{
    align-self: center;
    font-size: 12px;
    font-weight: 300;
    color: #575757;
}

.footer-right{
    justify-self: end;
    align-self: center;

    a{
        font-size: 20px;
        margin-left: 15px;
        color: #575757;
        cursor: pointer;
    }


   
}

.social i:hover{
  
        transform: scale(1.08);
 
}