.work-single-container{

    h4{
        margin-bottom: 20px;
        font-weight: 700;
    }

    p{
        margin-bottom: 50px;
    }
}

.work-single-image{
    width: 100%;
    margin-bottom: 100px;

    img{
        width: 100%;
    }
}